.main-panel {
  max-width: max-content;
}

.set-margin {
  padding: 4px;
  margin: 4px;
}
.bg-color {
  background-color: var(--vscode-editorWidget-background);
}

.button-style {
  padding-right: 3px;
  margin: 1px 4px 5px 4px;
}

.divider-style {
  margin: 3px 4px;
  padding: 3px 4px;
}

