:root {
  --theme-color: var(--vscode-editorWidget-background);
}
.main-panel {
  max-width: max-content;
}

.set-margin {
  padding: 4px;
  margin: 0px;
  margin-left: 20px;
}
.bg-color {
  background-color: var(--theme-color)
}

.button-style {
  padding-right: 3px;
  margin: 1px 4px 5px 4px;
}

.divider-style {
  margin: 3px 4px;
  padding: 3px 4px;
}
.icon-style {
    margin-bottom: -3px;
}
.checkbox-style {
  margin: 0px;
}
.padding-top {
  padding-top: 8px;
}

