npm-shrinkwrap.json
packages/cli/npm-shrinkwrap.json
coverage/
node_modules/
npm-debug.log
.nyc_output
lib
lib_test
.idea
results/
__results__/
__tests__/__results__/
**/__tests__/__resources__/properties/custom_properties.yaml
docs/typedoc
.turbo
build/**
.next/**
dist/*
!dist/README.md
**/.DS_Store
packages/vsce/__tests__/__e2e__/resources/extender-extension/*.vsix
packages/vsce/__tests__/__e2e__/resources/extender-extension/out
