coverage/
node_modules/
npm-debug.log
.nyc_output
lib
lib_test
.idea
results/
__results__/
__tests__/__results__/
packages/cli/__tests__/__resources__/properties/custom_properties.yaml
docs/typedoc
.turbo
build/**
.next/**
dist/
