.resource-inspector-container{
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
  width: 100%;
  box-sizing: border-box;
}

.resource-info-table-header {
  position: fixed;
  top: 1.75rem;
  height: 32px;
  padding: 0px 12px;
  left: 2.25rem;
  right: 2.25rem;
  z-index: 10;
  background-color: var(--vscode-editor-background);
}

.resource-title {
  vertical-align: middle;
  display: flex;
  width: 100% !important;
  max-width: 73.75rem !important;
  height: 16px;
  align-items: center;
  gap: 4px;
  flex-shrink: 0;
  padding: 8px 0px !important;
}

.attributes-header-section {
  position: sticky;
  z-index: 5;
  background-color: var(--vscode-editor-background);
}

.padding-left-10 {
  padding-left: 0.625rem;
}

.attribute-search {
  width: 12.5rem;
  max-width: 40%;
  border: none;
  height: 24px;
  position: absolute;
  right: 0;
  top: 4px;
  float: none;
  margin: 0;
  display: flex;
  align-items: center;
}

.td {
  padding: 8px;
  vertical-align: middle;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
}

.header-label-div {
  width: 30%;
  height: 16px;
  line-height: 16px;
}

.header-label-value-div {
  width: 70%;
  height: 16px;
  line-height: 16px;
}

.vertical-align-sub {
  vertical-align: sub;
}

.border-collapse {
  border-collapse: collapse;
}

.header-mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
  background-color: var(--vscode-editor-background);
  pointer-events: none;
}

body.vscode-light{
 background-color: var(--vscode-editor-background);
}

body.vscode-dark{
  background-color: var(--vscode-editor-background);
}

table:not(#resource-info-table) {
  margin-top: 8px;
  position: relative;
  width: 100%; 
  box-sizing: border-box;
}

.resource-inspector-container {
  position: relative;
  width: 100%;
  box-sizing: border-box;
}

table {
  width: 100%;
  box-sizing: border-box;
}

table tbody tr {
  background-color: var(--vscode-editor-background);
}

.attributes-title {
  width: 100%;
}

/* Combined common table styling for both themes */
body.vscode-light table,
body.vscode-light th,
body.vscode-light tr,
body.vscode-light td,
body.vscode-dark table,
body.vscode-dark th,
body.vscode-dark tr,
body.vscode-dark td {
  padding: 0.5rem;
  font-family: var(--vscode-font-family);
  color: var(--vscode-foreground);
}

/* Light theme specific */
body.vscode-light th,
body.vscode-light thead {
  background-color: #f0f0f0;
  text-align: left;
  color: var(--vscode-foreground);
}

body.vscode-light tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Dark theme specific */
body.vscode-dark th,
body.vscode-dark thead {
  background-color: rgb(40,40,40);
  text-align: left;
  color: var(--vscode-foreground);
}

body.vscode-dark tr:nth-child(even) {
  background-color: rgba(204, 204, 204, 0.04);
}
body.vscode-dark input {
  background-color: rgb(60, 60, 60);
}

body.vscode-light th,
body.vscode-light tr,
body.vscode-light td {
  padding: 0.5rem;
  font-family: var(--vscode-font-family);
  color: var(--vscode-foreground);
}

body.vscode-light th {
  background-color: #f0f0f0;
  text-align: left;
  width: 73.75rem;
  color: var(--vscode-foreground);
}

body.vscode-light thead {
  background-color: #f0f0f0;
  text-align: left;
  color: var(--vscode-foreground);
}

body.vscode-light tr:nth-child(even) {
  background-color: #f2f2f2;
}

body.vscode-dark table,
body.vscode-dark th,
body.vscode-dark tr,
body.vscode-dark td {
  padding: 0.5rem;
  font-family: var(--vscode-font-family);
}
body.vscode-dark tr:nth-child(even) {
  background-color: rgba(204, 204, 204, 0.04);
}
body.vscode-dark th {
  background-color: rgb(40, 40, 40);
  text-align: left;
  width: 73.75rem;
  color: var(--vscode-foreground);
}

body.vscode-dark thead {
  background-color: rgb(40, 40, 40);
  text-align: left;
  color: var(--vscode-foreground);
}

body.vscode-dark input {
  background-color: rgb(60, 60, 60);
}

ul.breadcrumb {
  list-style: none;
  margin-top: 0rem;
  margin-bottom: 0rem;
  padding-left: 0rem;
  display: flex;
  flex: 1; 
  min-width: 0; 
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  align-items: center; 
}
ul.breadcrumb li {
  display: inline-flex; 
  align-items: center; 
  font-size: 13px;
  flex-shrink: 0; 
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: var(--vscode-breadcrumb-foreground);
}

.chevron-icon {
  display: inline-flex; 
  align-items: center; 
  margin: 0 4px; 
}
ul.breadcrumb li a {
  color: var(--vscode-foreground);
  text-decoration: none;
  font-size: 0.688rem;
}
ul.breadcrumb li a:hover {
  color: var(--vscode-foreground);
  text-decoration: underline;
}
.breadcrumb-div {
  display: flex;
  align-items: center;
  gap: 6px;
  flex: 1 0 0;
}

.dropdown-container {
  position: relative;
  float: inline-end;
  display: inline-flex;
}

.resource-info-row {
  padding-left: 12px !important;
  padding-top: 4px !important;
  padding-bottom: 0px !important;
}

.resource-info-rows {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 52px !important;
  width: 100%; 
  max-width: 1112px; 
  box-sizing: border-box;
  padding-bottom: 0px !important;
  padding-top: 34px !important;
}

.three-dots {
  font-size: 12px;
  padding: 2px;
  user-select: none;
  cursor: pointer;
  font-weight: bolder;
}

.refresh-icon{
  padding-right: 6px;
  padding-top: 4px;
  padding-bottom: 4px;
  cursor: pointer;
}

body.vscode-light vscode-context-menu {
  --vscode-menu-background: #E4E3E2;
  --vscode-menu-foreground: #000000;
}

body.vscode-dark vscode-context-menu {
  --vscode-menu-background: #B2B1B1;
  --vscode-menu-foreground: #000000;
}

.attributes-title {
  text-align: left;
  padding-left:12px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  box-sizing: border-box;
}

.attributes-header-row {
  display: flex;
  align-items: center;
  height: 16px; 
  padding: 8px 0px; 
  width: 100%;
  box-sizing: content-box; 
  position: relative; 
  min-height: 16px; 
}

.header-label {
  font-weight: normal;
  color: var(--vscode-breadcrumb-foreground);
  flex: 1;
  width: 30%; 
  padding-left: 0; 
}

.header-label-value {
  font-weight: normal;
  color: var(--vscode-breadcrumb-foreground);
  padding-left: 10px; 
  flex: 1;
  width: 70%; 
}

.resource-icon {
  display: inline-flex; 
  align-items: center;
}

.vscode-badge-foreground-color {
  color: var(--vscode-badge-foreground);
}

.vscode-breadcrumb-foreground-color {
  color: var(--vscode-breadcrumb-foreground);
}

.resource-item {
  display: flex;
  align-items: center;
  gap: 4px; 
}

.resource-attr-key {
  color: var(--vscode-badge-foreground) !important;
  padding-left: 20px !important;
  padding-top: 6px !important;
  padding-bottom: 6px !important;
  width: 30%;
}

.resource-attr-value {
  color: var(--vscode-badge-foreground) !important;
  padding-left: 20px !important;
  width: 70%;

}
