@import "tailwindcss";

html {
  height: 100%;
}
body {
  height: 100%;
}

#webviewRoot {
  background-color: var(--vscode-editor-background);
  height: 100%;
}

input:focus {
  outline: none;
}

@layer utilities {
  .hover-lighter {
    @apply bg-[color-mix(in_srgb,var(--vscode-editor-background),white_3%)] hover:bg-[color-mix(in_srgb,var(--vscode-editor-background),white_10%)];
  }
  .hover-darker {
    @apply bg-[color-mix(in_srgb,var(--vscode-editor-background),black_5%)] hover:bg-[color-mix(in_srgb,var(--vscode-editor-background),black_9%)];
  }
  .bg-lighter {
    @apply bg-[color-mix(in_srgb,var(--vscode-editor-background),white_3%)];
  }
  .bg-darker {
    @apply bg-[color-mix(in_srgb,var(--vscode-editor-background),black_5%)];
  }
  .zebra-dark {
    @apply odd:bg-(--vscode-editor-background) even:bg-[color-mix(in_srgb,var(--vscode-editor-background),white_3%)];
  }
  .zebra-light {
    @apply odd:bg-(--vscode-editor-background) even:bg-[color-mix(in_srgb,var(--vscode-editor-background),black_5%)];
  }
}
