.maindiv {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
}

.line {
  line-height: 0.5;
  font-size: small;
}

.header-cell-1 {
  padding-left: 10px;
  vertical-align: middle;
}

.div-display-1{
  display: inline-block;
  vertical-align: middle;
}

.div-display-2{
  font-size: x-small;
  padding-left: 7px;
  font-weight: 100;
}

.padding-left-20{
  padding-left: 20px;
}
.padding-right-10{
  padding-right: 10px;
}
.padding-right-75{
  padding-right: 75px;
}

.search-style{
  width: 300px;
  float: right;
}

