name: SonarCloud

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - '**'

jobs:
  sonar:
    # PRs from forks do not have access to workflow secrets so Sonarqube fails.
    # Therefore we are skipping this job on forks.
    if: contains(github.event.pull_request.head.repo.url, '/repos/zowe/cics-for-zowe-client')
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Use Node.js 20.x
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install Dependencies
        run: npm ci

      - name: Update Dependencies
        id: npm-update
        uses: zowe-actions/octorelease/script@v1
        with:
          config-dir: .github
          script: npmUpdate

      - name: Build Source
        id: build
        run: npm run build

      - name: SonarCloud Scan
        uses: sonarsource/sonarqube-scan-action@v6
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}